<h3>Editing procedure for experiment <%= @experiment.title %></h3>
<%= form_for [@experiment, @procedure] do |f| %>
  <%= render partial: "form", locals: { form: f } %>
  <%= f.submit "Save procedure" %>
<% end %>
