<p><%= log.observation %></p>
<% if !current_user.faculty? && procedure.experiment.staffs.include?(current_user) %>
  <%= link_to "Edit observation log", edit_log_path(log) %> |
  <%= link_to "Delete observation log", log, :method => :delete %>
<% end %>
